<div id="side-nav">
    <ul id="nav">
        <li>
            <a href="javascript:;">
                <i class="iconfont">&#xe6f6;</i>
                <cite>新闻管理</cite>
                <i class="iconfont nav_right">&#xe697;</i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a _href="{:url('admin/news/cc_news')}">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>长城报</cite>

                    </a>
                </li >

                <li>
                    <a _href="{:url('admin/news/gs_news')}">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>公司新闻</cite>

                    </a>
                </li >

                <li>
                    <a _href="{:url('admin/news/hy_news')}">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>行业资讯</cite>

                    </a>
                </li >
                <li>
                    <a _href="{:url('admin/news/mt_news')}">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>媒体报导</cite>

                    </a>
                </li >

            </ul>
        </li>

        <li>
            <a href="javascript:;">
                <i class="iconfont">&#xe6b8;</i>
                <cite>招聘管理</cite>
                <i class="iconfont nav_right">&#xe697;</i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a _href="{:url('admin/job/lists')}">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>发布招聘</cite>

                    </a>
                </li >

                <li>
                    <a _href="{:url('admin/resume/lists')}">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>简历管理</cite>

                    </a>
                </li >


            </ul>
        </li>



        <li>
            <a href="javascript:;">
                <i class="iconfont">&#xe69b;</i>
                <cite>留言管理</cite>
                <i class="iconfont nav_right">&#xe697;</i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a _href="{:url('admin/message/lists')}">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>留言列表</cite>
                    </a>
                </li >
            </ul>
        </li>



    </ul>
</div>