<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__HOME_CSS__/reset.css">
    <link rel="stylesheet" href="__HOME_CSS__/productcenter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
    <title>新闻</title>
</head>

<body>
    <div>
        <header>
            <div class="container">
                <img src="__HOME_STATIC__/img/1.png" alt class="logo">
                <nav>
                    <a href="{:url('index/index')}">首页</a>
                    <a href="{:url('about/index')}">关于长城</a>
                    <a href="{:url('product/index')}" class="active">产品中心</a>
                    <a href="{:url('news/index')}">新闻资讯</a>
                    <a href="{:url('culture/index')}">企业文化</a>
                    <a href="{:url('resume/index')}">人力资源</a>
                    <a href="{:url('contact/index')}">联系我们</a>
                </nav>
                <div class="btn-wrap">
                    <i class="iconfont icon-Group-"></i>
                    <div class="lang-switch">
                        <img src="__HOME_STATIC__/img/eng.png" width="30" height="30" alt="">
                        <span>En</span>
                    </div>
                </div>
            </div>
        </header>
        <div class="sect1">

            <div class="container">
                <div class="text">
                    <h1>PRODUCT CENTER</h1>
                    <h2>产品中心</h2>
                </div>
                <div class="fun-wrap">
                    <i>
                        <img src="__HOME_STATIC__/img/arrow.png" style="transform:rotate(180deg)" alt>
                    </i>
                    <i style="margin-left:50px">
                        <img src="__HOME_STATIC__/img/arrow.png" alt>
                    </i>
                </div>
            </div>
        </div>
        <div class="sect2">
            <div class="container">
                <h1>汽车工业<span>Auto Industry</span></h1>
            </div>
        </div>
        <div class="sect3">
            <div class="container">
                <img src="__HOME_STATIC__/img/goodsImg/电动工具.jpg" alt="">
            </div>
        </div>
        <!-- 底部菜单 -->
        {include file="public/foot"}
    </div>

</body>

</html>