.sect1 {
  background: url("../static/img/aboutus-bg.png") no-repeat top center;

  height: 922px;
}
.sect1 .cont {
  color: #fff;
}
.sect1 .cont h2 {
  font-size: 32px;
  margin-top: 180px;
}
.sect1 .cont .line {
  width: 160px;
  height: 4px;
  background: #fff;
  margin: 28px 0 40px;
}
.sect1 .cont p {
  font-size: 52px;
}
.sect1 .cont p span {
  color: #d82128;
}
.sect1 header {
  background: linear-gradient(rgba(0,0,0,0.56), rgba(0,0,0,0.14));
  box-shadow:none;
  width: 100%;
}
.sect1 header .container {
  height: 100px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 18px;
}
.sect1 header .container .logo {
  width: 186px;
  height: 60px;
  margin-right: 80px;
}
.sect1 header .container nav {
  display: flex;
  height: 100%;
}
.sect1 header .container nav a {
  display: flex;
  height: 100%;
  align-items: center;
}
.sect1 header .container nav a.active {
  position: relative;
}
.sect1 header .container nav a.active::before {
  content: '';
  width: 100%;
  height: 5px;
  background: #d82128;
  position: absolute;
  bottom: 0;
  left: 0;
}
.sect1 header .container nav a~a {
  margin-left: 50px;
}
.sect2 {
  padding-top: 39px;
  box-shadow: 5px 5px 5px rgba(201,201,201,0.35);
}
.sect2 nav {
  height: 75px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
  font-size: 18px;
}
.sect2 nav a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.sect2 nav a.active {
  position: relative;
}
.sect2 nav a.active:after {
  content: '';
  width: 100%;
  height: 5px;
  background: #d82128;
  position: absolute;
  bottom: 0;
  left: 0;
}
.sect3 {
  padding-bottom: 160px;
}
.sect3 h1 {
  font-size: 46px;
  margin: 36px 0 15px;
}
.sect3 h1 span {
  color: #d82128;
}
.sect3 .cont {
  display: flex;
  justify-content: space-between;
}
.sect3 .left {
  width: 386px;
}
.sect3 .left img {
  width: 386px;
}
.sect3 .left h2 {
  font-size: 45px;
}
.sect3 .right {
  width: 750px;
}
.sect3 .right h2 {
  font-size: 32px;
}
.sect3 .right p {
  font-size: 24px;
  margin: 22px 0 28px;
}
.sect3 .right ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 115px;
  align-items: center;
  margin-top: 50px;
}
.sect3 .right ul li {
  text-align: center;
}
.sect3 .right ul li h2 {
  font-size: 64px;
  position: relative;
}
.sect3 .right ul li h2 span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
}
.sect3 .right ul li p {
  font-size: 20px;
}
.sect3 .right ul li.line {
  width: 2px;
  height: 64px;
  background: #949494;
}
.sect4 {
  background: #fafafa;
}
.sect4 .container {
  overflow: hidden;
}
.sect4 h1 {
  font-size: 46px;
  color: #d82128;
  margin: 94px 0 18px;
}
.sect4 h2 {
  font-size: 45px;
  margin-bottom: 25px;
}
.sect4 .line {
  width: 300px;
  height: 2px;
  background: #000;
}
.sect4 .swiper-wrap {
  width: 400%;
  display: flex;
  transition: all 1s;
}
.sect4 .swiper-wrap .cont {
  width: 25%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 120px;
}
.sect4 .swiper-wrap .cont .left {
  flex: 1;
}
.sect4 .swiper-wrap .cont .left .time {
  font-size: 42px;
  font-weight: bold;
  margin: 20px 0 40px;
}
.sect4 .swiper-wrap .cont .left ul li {
  font-size: 24px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.sect4 .swiper-wrap .cont .left ul li span:first-child {
  font-size: 32px;
  font-weight: bold;
  margin-right: 14px;
}
.sect4 .swiper-wrap .cont .left ul li span:last-chlid {
  font-size: 24px;
}
.sect4 .swiper-wrap .cont .right {
  width: 720px;
}
.sect4 .swiper-wrap .cont .right ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  font-size: 28px;
  margin-top: 25px;
}
.sect4 .swiper-wrap .cont .right ul li {
  cursor: pointer;
}
.sect4 .swiper-wrap .cont .right ul li.active {
  font-weight: bold;
}
.sect4 .swiper-wrap .cont .right ul li.line {
  height: 100%;
  width: 1px;
  background: #797979;
}
.sect4 h3 {
  font-size: 36px;
  color: #d82128;
}
.sect4 h4 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 88px;
}
.sect5 {
  background: url("../static/img/inspection-bg.jpg") no-repeat top center;
  overflow: hidden;
  height: 920px;
}
.sect5 h1 {
  font-size: 46px;
  color: #d82128;
  margin: 94px 0 18px;
}
.sect5 h2 {
  font-size: 45px;
  margin-bottom: 18px;
}
.sect5 ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 9px;
  grid-row-gap: 9px;
}
.sect5 ul li {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.sect5 ul li:hover p {
  transform: translate3d(0, 0, 0);
}
.sect5 ul li p {
  width: 100%;
  height: 43px;
  transform: translate3d(0, 100%, 0);
  background: rgba(0,0,0,0.67);
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 43px;
  color: #fff;
  transition: all 0.3s;
}
.sect5 ul li img {
  width: 395px;
  height: 257px;
}
.readmore {
  width: 140px;
  height: 35px;
  background: #d82128;
  color: #fff;
  border: none;
}
.sect6 {
  background: #fafafa;
  padding-bottom: 140px;
}
.sect6 .container {
  overflow: hidden;
}
.sect6 .container>div {
  display: flex;
  margin-top: 140px;
  justify-content: space-between;
}
.sect6 .container>div .text {
  flex: 1;
  padding: 0 44px;
}
.sect6 .container>div .text h1 {
  font-size: 44px;
}
.sect6 .container>div .text h1 span {
  color: #d82128;
}
.sect6 .container>div .text h2 {
  font-size: 40px;
  margin: 10px 0 27px;
}
.sect6 .container>div .text p {
  font-size: 20px;
}
.sect6 .container>div .text .readmore {
  margin-top: 40px;
}
.sect7 {
  background: url("../static/img/500362085_banner.jpg") no-repeat top center;
  height: 770px;
}
.sect7 .container {
  height: 100%;
  position: relative;
}
.sect7 #player {
  position: absolute;
  width: 600px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: #fff;
}
