<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
		<meta content="yes" name="apple-mobile-web-app-capable"> 
		<meta content="black" name="apple-mobile-web-app-status-bar-style"> 
		<meta content="telephone=no" name="format-detection">
		<title>嗡嗡</title>
		<!-- <link href="asset/css/bootstrap.min.css" rel="stylesheet"> -->
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" href="css/index.css" />
		<script src="js/vue.min.js"></script>
	</head>


	<body >
		<div class="container">
			<div class="content ">
				<ul class="clearfix" id="swiper">
					<li class="" v-for="item in itemArr">
						<a :href="'DuiXiangDetail.html?userID='+userId+'&objID='+item.userid" style="display: block;height: 92%;">
							<div class="wrap">
								<div class="touxiang">
									<img :src="picSour+item.picUrl">
								</div>
								<div class="detail">
									<h2 class="name">{{item.name}}</h2>
									<p class="detail-birf">
										<span class="addr">{{item.region}}</span>
										<span class="age">{{item.birthday}}</span>
										<span class="xinzuo">{{item.constellation}}</span>
										<span class="job">{{item.profession}}</span>
									</p>
									<h2 class="zo">择偶条件</h2>
									<p class="zeou">
										<span class="age-rang">{{item.mage}}</span>
										<span class="marryed">{{item.mmarry}}</span>
										<span class="drink">{{item.mdrink}}</span>
										<span class="smoke">{{item.msmkoe}}</span>
									</p>
								</div>
							</div>
						</a>
					</li>
					

				</ul>
			</div>
		</div>
		<!-- 底部通栏 -->
		<footer class="ww_bottomTabs">
			<ul>
				<li class="selected">
					<a href="index.html"><img src="./img/icon/S_home.png">
						<p>首页</p>
					</a>
				</li>
				<li>
					<a href="wenjuan.html"><img src="./img/icon/study.png">
						<p>问卷</p>
					</a>
				</li>
				<li>
					<a href="zhuangti.html"><img src="./img/icon/party.png">
						<p>专题</p>
					</a>
				</li>
				<li>
					<a href="user_info.html"><img src="./img/icon/S_me.png">
						<p>我</p>
					</a>
				</li>
			</ul>
		</footer>
		<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="asset/js/bootstrap.min.js"></script>
		<!--<script src="asset/swiper/swiper-4.1.6.min.js"></script>-->
		<!--<script src="js/switchFun.js"></script>-->

		<script type="text/javascript" src="js/index.js"></script>
	</body>

</html>