<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__HOME_CSS__/reset.css">
    <link rel="stylesheet" href="__HOME_CSS__/buzCulture.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

    <title>企业文化</title>
</head>

<body>
    <div>
        <header>
            <div class="container">
                <img src="__HOME_STATIC__/img/1.png" alt class="logo">
                <nav>
                    <a href="{:url('index/index')}">首页</a>
                    <a href="{:url('about/index')}">关于长城</a>
                    <a href="{:url('product/index')}">产品中心</a>
                    <a href="{:url('news/index')}">新闻资讯</a>
                    <a href="{:url('culture/index')}" class="active">企业文化</a>
                    <a href="{:url('resume/index')}">人力资源</a>
                    <a href="{:url('contact/index')}">联系我们</a>
                </nav>
                <div class="btn-wrap">
                    <i class="iconfont icon-Group-"></i>
                    <div class="lang-switch">
                        <img src="__HOME_STATIC__/img/eng.png" width="30" height="30" alt="">
                        <span>En</span>
                    </div>
                </div>
            </div>
        </header>
        <div class="sect1">
            <div class="container">
                <div class="text">
                    <h1>COMPANY CULTURE</h1>
                    <h2>企业文化</h2>
                </div>
                <!-- <div class="fun-wrap">
                      <i>
                        <img src="/static/img/arrow.png" style="transform:rotate(180deg)" alt>
                      </i>
                      <i style="margin-left:50px">
                        <img src="/static/img/arrow.png" alt>
                      </i>
                    </div>-->
            </div>
        </div>
        <div class="sect2">
            <div class="container">
                <nav>
                    <a href="javascript:;" class="active">节日活动</a>
                    <a href="javascript:;">公司文化</a>
                    <a href="javascript:;">职工之家</a>
                    <a href="javascript:;">拓展训练</a>
                    <a href="javascript:;">工艺活动</a>
                </nav>
            </div>
        </div>
        <div class="sect3" style="display: block">
            <div class="container">
                <h1>FESTIVAL <span>EVENT</span></h1>
                <p>节日活动</p>
                <ul>
                    {volist name='act' id='a'}
                    <li>
                        <img src="__BASE_URL__/{$a.img}" alt="">
                        <p>{$a.title}</p>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
        <div class="sect3" style="display: none">
            <div class="container">
                <h1>FESTIVAL <span>EVENT</span></h1>
                <p>公司文化</p>
                <ul>
                    {volist name='gs' id='g'}
                    <li>
                        <img src="__BASE_URL__/{$g.img}" alt="">
                        <p>{$g.title}</p>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
        <div class="sect3" style="display: none">
            <div class="container">
                <h1>FESTIVAL <span>EVENT</span></h1>
                <p>职工之家</p>
                <ul>
                    {volist name='zg' id='z'}
                    <li>
                        <img src="__BASE_URL__/{$z.img}" alt="">
                        <p>{$z.title}</p>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
        <div class="sect3" style="display: none">
            <div class="container">
                <h1>FESTIVAL <span>EVENT</span></h1>
                <p>拓展训练</p>
                <ul>
                    {volist name='tz' id='t'}
                    <li>
                        <img src="__BASE_URL__/{$t.img}" alt="">
                        <p>{$t.title}</p>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
        <div class="sect3" style="display: none">
            <div class="container">
                <h1>FESTIVAL <span>EVENT</span></h1>
                <p>工艺活动</p>
                <ul>
                    {volist name='gy' id='g'}
                    <li>
                        <img src="__BASE_URL__/{$g.img}" alt="">
                        <p>{$g.title}</p>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
        <!-- 底部菜单 -->
        {include file="public/foot"}

    </div>
    <script>
        $(function () {
            var $aArr = $('.sect2 nav a').click(function () {
                let index  = $aArr.index($(this));
                $aArr.removeClass('active')
                $(this).toggleClass('active')
                $('.sect3').hide().eq(index).show();

            })
        });
    </script>
</body>

</html>