<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__HOME_CSS__/reset.css">
    <link rel="stylesheet" href="__HOME_CSS__/certificate.css">
    <title>新闻</title>
</head>

<body>
        <div class="box">
          <header>
            <div class="container">
              <img src="__HOME_STATIC__/img/2.png" alt class="logo">
              <nav>
                <a href="{:url('index/index')}" >首页</a>
                <a href="{:url('about/index')}" class="active">关于长城</a>
                <a href="{:url('product/index')}">产品中心</a>
                <a href="{:url('news/index')}">新闻资讯</a>
                <a href="{:url('culture/index')}">企业文化</a>
                <a href="{:url('resume/index')}">人力资源</a>
                <a href="{:url('contact/index')}">联系我们</a>
              </nav>
            </div>
          </header>
                <div class="sect1">
                  <div class="container">
                    <div class="text">
                      <p>长城企业多年来致力于发展成为行业内的优秀标杆企业，也获得了社会各界的认可与各级荣誉。 这些荣誉不仅是长城企业的资质证明，更是政府及业内权威机构的认证和支持，也是长城企业自成立以来交出的一张张显耀的成绩单。
                      </p>
                    </div>
                    <img src="__HOME_STATIC__/img/honour.jpg" alt="">
                  </div>
                </div>
                <div class="sect2">
                  <div class="container">
                    <nav>
                      <a href class="active">国级荣誉</a>
                      <a href>省级荣誉</a>
                      <a href>市级荣誉</a>
                      <a href>地级荣誉</a>
                      <a href>体系证书</a>
                      <a href>专利认证</a>
                      <a href>重合同</a>
                      <a href>优秀供应商荣誉</a>
                    </nav>
                  </div>
                </div>
                <!-- 人才理念 -->
                <div class="sect3">
                  <div class="container">
                    <ul class="clearfix">
                      <li class="active">
                        <div class="bar"><span>2008年海关A类管理企业</span><img src="__HOME_STATIC__/img/arrow-down.png" alt=""></div>
                        <div class="pic">
                          <img src="__HOME_STATIC__/img/zhenshu1.jpg" alt="">
                        </div>
                      </li>
                      <li class="">
                        <div class="bar"><span>2008年海关A类管理企业</span><img src="__HOME_STATIC__/img/arrow-down.png" alt=""></div>
                        <div class="pic">
                          <img src="__HOME_STATIC__/img/zhenshu1.jpg" alt="">
                        </div>
                      </li>
                      <li class="">
                        <div class="bar"><span>2008年海关A类管理企业</span><img src="__HOME_STATIC__/img/arrow-down.png" alt=""></div>
                        <div class="pic">
                          <img src="__HOME_STATIC__/img/zhenshu1.jpg" alt="">
                        </div>
                      </li>
                      <li class="">
                        <div class="bar"><span>2008年海关A类管理企业</span><img src="__HOME_STATIC__/img/arrow-down.png" alt=""></div>
                        <div class="pic">
                          <img src="__HOME_STATIC__/img/zhenshu1.jpg" alt="">
                        </div>
                      </li>
                      <li class="">
                        <div class="bar"><span>2008年海关A类管理企业</span><img src="__HOME_STATIC__/img/arrow-down.png" alt=""></div>
                        <div class="pic">
                          <img src="__HOME_STATIC__/img/zhenshu1.jpg" alt="">
                        </div>
                      </li>
                      <li class="">
                        <div class="bar"><span>2008年海关A类管理企业</span><img src="__HOME_STATIC__/img/arrow-down.png" alt=""></div>
                        <div class="pic">
                          <img src="__HOME_STATIC__/img/zhenshu1.jpg" alt="">
                        </div>
                      </li>
                      <li class="">
                        <div class="bar"><span>2008年海关A类管理企业</span><img src="__HOME_STATIC__/img/arrow-down.png" alt=""></div>
                        <div class="pic">
                          <img src="__HOME_STATIC__/img/zhenshu1.jpg" alt="">
                        </div>
                      </li>
                      <li class="">
                        <div class="bar"><span>2008年海关A类管理企业</span><img src="__HOME_STATIC__/img/arrow-down.png" alt=""></div>
                        <div class="pic">
                          <img src="__HOME_STATIC__/img/zhenshu1.jpg" alt="">
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
</body>

</html>