<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="__HOME_CSS__/reset.css">
  <link rel="stylesheet" href="__HOME_CSS__/aboutus.css">
  <title>新闻</title>
</head>

<body>
  <div class="box">
    <div class="sect1">
      <header>
        <div class="container">
          <img src="__HOME_STATIC__/img/2.png" alt class="logo">
          <nav>
            <a href="{:url('index/index')}">首页</a>
            <a href="{:url('about/index')}" class="active">关于长城</a>
            <a href="{:url('product/index')}">产品中心</a>
            <a href="{:url('news/index')}">新闻资讯</a>
            <a href="{:url('culture/index')}">企业文化</a>
            <a href="{:url('resume/index')}">人力资源</a>
            <a href="{:url('contact/index')}">联系我们</a>
          </nav>
          <div class="btn-wrap">
              <i class="iconfont icon-Group-"></i>
              <div class="lang-switch">
                  <img src="../static/img/eng.png" width="30" height="30" alt="">
                  <span>En</span>
              </div>
          </div>
        </div>
      </header>
      <div class="cont">
        <div class="container">
          <!-- <h2>打造行业领先制造商</h2>
                      <div class="line"></div>
                      <p>中国智造 ·
                        <span>长城换向器</span>
                      </p>-->
        </div>
      </div>
    </div>
    <div class="sect2">
      <div class="container">
        <nav>
          <a href="javascript:;" class="active">公司简介</a>
          <a href="javascript:;">发展历程</a>
          <a href="javascript:;">领导关怀</a>
          <a href="javascript:;">资质证书</a>
          <a href="javascript:;">企业视频</a>
          <a href="javascript:;">社会责任</a>
        </nav>
      </div>
    </div>
    <div class="sect3">
      <div class="container">
        <h1>
          <span>COMPANY</span> PROFILE
        </h1>
        <div class="cont">
          <div class="left">
            <h2>集团介绍</h2>
            <img src="__HOME_STATIC__/img/aboutus01.jpg" style="margin:55px 0 100px" alt>
            <img src="__HOME_STATIC__/img/aboutus02.jpg" alt>
          </div>
          <div class="right">
            <h2>浙江长城换向器有限公司</h2>
            <p>
              长城企业创建于1993年，现有占地面积 50,000平方米,现有员工近500人，专业技术人员120人。
              长城企业以人性化、专业化、国际化的管理理念注入企业的每一层环节，同步企业的每一次提升发展。
              长城企业延续并积蓄了10年以上的心得，不断致力于研发生产电机用换向器，目前有1,500多个规格，年生产能力达到1.2亿只的规模。为了保持发展的前瞻性和不断满足客户的最专业化要求，无论客户身在何地，我们随时提供最快，最近，最方便的全球服务；长城企业所设立的换向器研究所已与国内多所著名大学及专业技术研究所建立了密切的合作关系，实现了资源共享。
              长城企业的质量方针：以创新为导向 以精益制产品 以零缺控品质 以诚实做服务；环境方针：遵纪守法、 污染预防、节能降耗、 清洁生产；安全方针：恪守法规、 保障安全 、预防为主 、关爱健康 。已通过 CQC
              产品认证和ISO/TS16949:2009 质量体系认证； ISO14000 环境管理体系和 OHSAS18000 职业健康与安全管理体系。
              长城企业拥有自营进出口权，产品品质达到国际先进水平，产品畅销中国，远销欧洲、美洲、澳洲、非洲、东南亚（日本、韩国等）及中国香港、台湾等地区。
              长城企业的员工努力工作，将为您提供最有价值感的产品。
            </p>
            <img src="__HOME_STATIC__/img/hangpai.jpg" class="aboutus" width="750" height="367" alt="工厂航拍">
            <ul>
              <li>
                <h2>25</h2>
                <p>成立25周年</p>
              </li>
              <li class="line"></li>
              <li>
                <h2>
                  5
                  <span>万</span>
                </h2>
                <p>5W生产面积</p>
              </li>
              <li class="line"></li>
              <li>
                <h2>
                  1.2
                  <span style="transform: translate3d(100%,0,0)">亿</span>
                </h2>
                <p>年生产规模</p>
              </li>
              <li class="line"></li>
              <li>
                <h2>500</h2>
                <p>现有员工</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="sect4">
      <div class="container">
        <h1>HISTORY</h1>
        <h2>发展历程</h2>
        <div class="line"></div>
        <div class="cont">
          <div class="left">
            <p class="time">1993-2000</p>
            <ul>
              <li><span>1993年</span>&nbsp;&nbsp;创立瑞安市红旗换向器厂</li>
              <li><span>1995年</span>&nbsp;&nbsp;成立瑞安市换向器有限公司</li>
            </ul>
          </div>
          <div class="right">
            <img src="__HOME_STATIC__/img/history01.jpg" width="720" height="432" alt="">
            <ul>
              <li class="active">1993-2000</li>
              <li class="line"></li>
              <li>2001-2005</li>
              <li class="line"></li>
              <li>2005-2010</li>
              <li class="line"></li>
              <li>2011-2020</li>
            </ul>
          </div>

        </div>
        <h3>始于1993年</h3>
        <h4>浙江长城换向器有限公司<br>
          已成立25年
        </h4>
      </div>
    </div>
    <div class="sect5">
      <div class="container">
        <h1>LEADERSHIP CARE</h1>
        <h2>领导关怀</h2>
        <ul>
          <li>
            <img src="__HOME_STATIC__/img/inspection (1).jpg" alt="">
            <p>省人大内司委副主任委员钱中贤</p>
          </li>
          <li>
            <img src="__HOME_STATIC__/img/inspection (2).jpg" alt="">
            <p>省人大内司委副主任委员钱中贤</p>
          </li>
          <li>
            <img src="__HOME_STATIC__/img/inspection (3).jpg" alt="">
            <p>省人大内司委副主任委员钱中贤</p>
          </li>
          <li>
            <img src="__HOME_STATIC__/img/inspection (4).jpg" alt="">
            <p>省人大内司委副主任委员钱中贤</p>
          </li>
          <li>
            <img src="__HOME_STATIC__/img/inspection (5).jpg" alt="">
            <p>省人大内司委副主任委员钱中贤</p>
          </li>
          <li>
            <img src="__HOME_STATIC__/img/inspection (6).jpg" alt="">
            <p>省人大内司委副主任委员钱中贤</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="sect6">
      <div class="container">
        <div class="port1">
          <img src="__HOME_STATIC__/img/honour.jpg" width="526" alt="">
          <div class="text">
            <h1><span>QUALIFICATION </span>CERTIFICATE</h1>
            <h2>资质证书</h2>
            <p>长城企业多年来致力于发展成为行业内的优秀标杆企业，也获得了社会各界的认可与各级荣誉。 这不仅是长城企业的资质证明，更是政府及业内权威机构的认证和支持，也是长城企业自成立以来交出的一张张显耀的成绩单。</p>
            <a href="{:url('about/cert')}"><button class="readmore">READ MORE <i class="iconfont icon-jiantou1"></i></button></a>
          </div>
        </div>
        <div class="port2">
          <div class="text">
            <h1><span>SOCIAL </span>RESPONSIBILITY</h1>
            <h2>社会责任</h2>
            <p>长城换向器创立以来一直致力于社会责任和企业发展紧密联系在一起，这体现了长城人的远大抱负和高度使命，这离不开党的改革开放路线，离不开社会各界的鼎力支持，用心付出，责任至上。</p>
            <a href="{:url('about/social')}"><button class="readmore">READ MORE <i class="iconfont icon-jiantou1"></i></button></a>
          </div>
          <img src="__HOME_STATIC__/img/cooperation.jpg" width="590" alt="">
        </div>
      </div>
    </div>
    <div class="sect7">
      <div class="container">
        <div>
          <object id="player" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" name="player" width="450" height="318">
            <param name="movie" value="/player.swf">
            <param name="allowfullscreen" value="true">
            <param name="allowscriptaccess" value="always">
            <param name="flashvars" value="file=http://www.chinacgw.cn/v/cgw.flv/v/cgw.flv&amp;autostart=false&amp;image=/Public/upload/201403/20140322062641_25248.jpg">
            <embed id="player" name="player" width="450" height="318" type="application/x-shockwave-flash" src="http://www.chinacgw.cn/player.swf"
              allowscriptaccess="always" allowfullscreen="true" flashvars="file=http://www.chinacgw.cn/v/cgw.flv&amp;autostart=false&amp;image=/Public/upload/201403/20140322062641_25248.jpg">

          </object>

        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
  $(function () {
    // var $contWrap = $('.cont-wrap');
    var scrollArr = [1095, 2700, 3768, 4706, 5300, 6071]
    var windowHe = $(window).height();
    var $aArr = $('.sect2 nav a').click(function (e) {
      $(this).addClass('active').siblings('a').removeClass('active');
      var index = $aArr.index($(this))
      $('html,body').animate({
        scrollTop: scrollArr[index] - windowHe / 2 + 'px'
      }, 1000);


      // console.log();
      // $contWrap.hide();
      // $contWrap.eq(index).show()

      // console.log(e,index);
    })
    window.onscroll = function () {
      // console.log($(this).scrollTop());
      var $nav = $('.sect2');
      if ($(this).scrollTop() >= 922) {
        $nav.css("position", "fixed");
      }
      else {
        $nav.css("position", "static");
      }
    }
  })
</script>

</html>