<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__HOME_CSS__/reset.css">
    <link rel="stylesheet" href="__HOME_CSS__/responsible.css">
    <title>新闻</title>
</head>

<body>
    <div class="box">
        <header>
            <div class="container">
                <img src="__HOME_STATIC__/img/2.png" alt class="logo">
                <nav>
                    <a href="{:url('index/index')}">首页</a>
                    <a href="{:url('about/index')}" class="active">关于长城</a>
                    <a href="{:url('product/index')}">产品中心</a>
                    <a href="{:url('news/index')}">新闻资讯</a>
                    <a href="{:url('culture/index')}">企业文化</a>
                    <a href="{:url('resume/index')}">人力资源</a>
                    <a href="{:url('contact/index')}">联系我们</a>
                </nav>
                <div class="btn-wrap">
                        <i class="iconfont icon-Group-"></i>
                        <div class="lang-switch">
                            <img src="__HOME_STATIC__/img/eng.png" width="30" height="30" alt="">
                            <span>En</span>
                        </div>
                    </div>
            </div>
        </header>
        <div class="sect1">
            <div class="container">
                <img src="__HOME_STATIC__/img/responsible.png" width="1200" height="630" alt>
            </div>
        </div>
        <div class="sect2">
            <div class="container">
                <h1>社会责任</h1>
                <h2>SOCIAL RESPONSIBILITY</h2>
                <p>长城换向器创立以来一直致力于社会责任和企业发展紧密联系在一起，
                    <br>这体现了长城人的远大抱负和高度使命，这离不开党的改革开放路线，
                    <br>离不开社会各界的鼎力支持，
                    <br>用心付出，责任至上。
                </p>
            </div>
        </div>
        <div class="sect3">
            <div class="container">
                <ul>
                    <li>
                        <img src="__HOME_STATIC__/img/bayi.jpg" alt="">
                        <h1>董事长捐款慈善</h1>
                    </li>
                    <li>
                        <img src="__HOME_STATIC__/img/bayi.jpg" alt="">
                        <h1>董事长捐款慈善</h1>
                    </li>
                    <li>
                        <img src="__HOME_STATIC__/img/bayi.jpg" alt="">
                        <h1>董事长捐款慈善</h1>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 底部菜单 -->
        {include file="public/foot"}
    </div>
</body>

</html>